.sidebar {
    width: 240px;
    background-color: #004d99;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    text-align: center;
    padding: 20px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.sidebar ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    font-weight: bold;
    background-color: #003366;
}

.sidebar ul li .icon {
    width: 20px;
    margin-right: 10px;
    text-align: center;
}

.menu-link {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 20px 16px;
    text-decoration: none;
    color: inherit;
}
/*li.active .menu-link {*/

/*}*/

/*@media (max-width: 800px) {*/
/*    .sidebar {*/
/*        display: none;*/
/*    }*/
/*}*/